/** Base **/
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-image: url('fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** Cabeçalho **/
header {
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/** Navegação **/
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  padding: 8px 12px;
  border: 2px solid #222;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #ff6600;
  border-color: #ff6600;
  background-color: rgba(255, 102, 0, 0.1);
}

/** Conteúdo principal **/
main {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

/** Grid **/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: block;
  margin: 0 auto 10px auto;
}

/** Melhoria na legibilidade dos textos **/
.grid-item p, .grid-item details {
  background-color: rgba(255, 255, 255, 0.2); /* Fundo branco levemente transparente */
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borda clara */
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

/** Rodapé fixado no final da página **/
footer {
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/** Ajuste da imagem do Mario **/
.menu {
  display: block;
  margin: 0 auto;
  width: 300px;
}

/** Estilos adicionais **/
.banner {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #555;
  text-decoration: underline;
}

header, nav, main, footer, .grid-container, .grid-item {
  background: transparent;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
/** só pros nomes dos consoles **/
.console-name {
  font-size: 28px; /* Fonte maior */
  font-weight: bold; /* Deixa em negrito */
}

/** Diminui ai meu nobre "Modelos" **/
.modelo {
  font-size: 16px; /* Fonte menor */
  font-weight: normal; /* Mantém padrão */
}
